body {
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
	
}
#root {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 100px auto 70px;
}
header, footer {
	background: #222;
	color: #fff;
}

.ads-block {
	display: grid !important;
	grid-template-columns: repeat(2,auto);
	height: 150px;
	width: 100%;

}